<template>
    <div id="main">
        <header id="header">
          
        </header>
        <div id="content">
            <sidebar v-if="$auth.check()"></sidebar>
            <div class="container-fluid oioi">
            <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<style>

  .oioi{
    padding-left: 78px;
    padding-right: 0px;
  }
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
@media only screen and (max-width: 720px){
  .oioi{
    padding-left: 0px;
  }
  
}
</style>
<script>
  import sidebar from './components/sidebar.vue'
  export default {
    data() {
      return {
        //
      }
    },
    mounted(){
      console.log(this.$auth.check())
    },
    
    components: {
      sidebar
    }
  }
</script>