<template>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
            check() {

            }
		},
		mounted() {
			setTimeout(() => {
				this.$router.push({name: 'notfound404'});
			}, 1);
		}
	}
</script>