<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Home</div>
            <div class="card-body">
                <p>
                    Not Found
                </p>
            </div>
        </div>
    </div>
</template>