<template>
  <div class="lol">
    <div class="hm">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="image/gambar_1.png"
              alt="First slide"
            />
          </div>
          <div class="carousel-item" v-for="data in data.carousel">
            <img
              class="d-block w-100"
              :src="data.foto_dir"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="lul">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid row">
            <div
              class="col-md-12 col-lg-12 col-sm-12 text-center"
              style="margin-top: 50px"
            >
              <h1>PRODUK</h1>
            </div>
            <div class="card-body row">
              <div class="col-md-3 col-lg-3 mt-3" v-for="item in data.produk">
                <div class="d-flex justify-content-center align-items-center">
                  <div
                    class="card p-3"
                    style="
                      box-shadow: 10px 5px 14px 2px rgba(135, 135, 135, 0.75);
                    "
                  >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="mt-2">
                        <div class="mt-5">
                          <h3 class="text-uppercase mb-0">
                            {{ item.kd_produk }}
                          </h3>
                          <h6 class="main-heading mt-0">
                            {{ item.nm_produk }}
                          </h6>
                        </div>
                      </div>
                      <div class="image">
                        <img :src="item.foto_dir" width="200" height="200" />
                      </div>
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-between
                        align-items-center
                        mt-2
                        mb-2
                      "
                    ></div>
                    <p>{{ item.deskripsi }}</p>
                                  <div class="row" style="margin: 0 5px">
                <button 
                @click.prevent="keranjang(item.id, $auth.user().id)"
                class="
                  btn btn-block btn-md btn-dark
                  col-12 col-sm-12 col-md-12 col-xl-12
                " style="border-radius: 20px">
                  Sewa
                </button>
              </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      data: {
        
        carousel: {},
        produk: {},
      },
    };
  },
  methods: {
    index() {
      var app = this;
      app.loading = true;
      app.$http
        .get("auth/user/getall")
        .then((res) => {
          app.data.carousel = res.data.carousel;
          app.data.produk = res.data.produk;
          app.loading = false;
        })
        .catch((err) => console.log(err));
    },
    keranjang(produk_id, id_user){
      var app = this;
      app.$http.post('auth/user/keranjang', {
        produk_id: produk_id,
        user_id: id_user
      }).then((res)=> {
         Swal.fire("Berhasi!", 'sukses menambah dikeranjang', "success");
      }).catch((err) => {
        toastr.error("sesuatu Error Terjadi", "error");
      })
    }
  },
  mounted() {
    this.index();
    $(window).on("scroll", function () {
      if ($(window).scrollTop() >= "550") {
        console.log($(window).scrollTop() + " px");
        $(".hm").addClass("op");
        // $("div").remove(".hm");
      } else if ($(window).scrollTop() >= "0") {
        $(".hm").removeClass("op");
        console.log("scrolldown");
      }
    });

    var app = this;
    console.log(app.$parent);
    if (app.$auth.user().level != "user") {
      app.$router.push({ name: "notfound" });
    }
  },
};
</script>

<style scoped>
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hm.op {
  opacity: 0;
  transition: 1s;
}
.hm {
  position: relative;
  width: 100%;
  right: 0;
  transform: translate(0, 0);
  opacity: 1;
  transition: 1s;
}
.lol {
  position: relative;
}
.lul {
  position: relative;
  width: 100%;
  margin-top: -100px;
}

.lul .card {
  border-radius: 0;
}

.card.bd {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 14px 16px 55px 0px rgba(0, 65, 255, 0.7);
  -webkit-box-shadow: 14px 16px 55px 0px rgba(0, 65, 255, 0.7);
  -moz-box-shadow: 14px 16px 55px 0px rgba(0, 65, 255, 0.7);
}
@media only screen and (max-width: 720px) {
  .lol {
    width: 100%;
  }
  .lul {
    margin-top: 0;
  }
  .lul .card {
    border-radius: 0;
  }
}
</style>
