<template>
  <main>
    <transition name="fade">
      <div class="card mt-3" v-if="showkem">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <a href="javascript:void(0);">
              <h4 @click.prevent="showkem = false"><b>Kembali</b></h4>
              </a>
            </div>
            <div class="col align-self-center text-right text-muted">
              {{form.barang.length}} Barang
            </div>
          </div>
        </div>
        <!-- item -->
        <div v-if="form.barang.length == 0" class="text-center">
          tidak ada barang
        </div>
        <div class="row border-top border-bottom" v-for="item in form.barang">
          <div class="row main align-items-center">
            <div class="col-2">
              <img class="img-fluid" :src="item.foto_dir" />
            </div>
            <div class="col">
              <div class="row text-muted">{{item.kd_produk}}</div>
              <div class="row">{{item.nm_produk}} <br> Rp. {{item.harga}}</div>
            </div>
            <div class="col">
              <!-- <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> -->
            </div>
            <div class="col">
                
            <!-- <span class="close" @click.prevent="hapus(item.id)">&#10005;</span> -->
            </div>
          </div>
        </div>
        <!-- end item -->
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Pengembalian</b></h5>
        </div>
        <hr />
        <div class="row">
          <div class="col" style="padding-left: 0">ITEMS {{form.barang.length}}</div>
          <div class="col text-right">Rp. {{form.total_produk}}</div>
        </div>
        <form>
          <p>sewa berapa hari</p>
          <input type="number" placeholder="hari" class="text-center" readonly v-model="form.hari" @input.prevent="hari()"/>
          <p>Pengiriman</p>
          <select v-model="data.biaya_pengiriman_kembali" @change="test($event)">
            <option class="text-muted" value="13.000">COD Rp.13.000</option>
            <option class="text-muted" value="0">Ambil Sendiri Rp.0</option>
          </select>
          <p>Alamat</p>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly v-model="form.alamat"></textarea>
        </form>
        <div
          class="row"
          style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
        >
          <div class="col">TOTAL HARGA SEBELUM</div>
          <div class="col text-right">Rp. {{String((parseInt(form.total_transaksi.replaceAll('.', '')))).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}}</div>
        </div>
        <div
          class="row"
          style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
        >
          <div class="col">TOTAL HARGA SESUDAH</div>
          <div class="col text-right">Rp. {{String((parseInt(form.total_transaksi.replaceAll('.', ''))+ parseInt(data.biaya_pengiriman_kembali.replaceAll('.', '')))).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}}</div>
        </div>
        <button class="btn" style="border-radius: 10px" @click.prevent="checkout()">KEMBALIKAN</button>
      </div>
    </div>
  </div>
    </transition>
    <transition name="fade">
    <div class="container" v-if="!showkem">
      <div class="card" style="border-radius: 10px; margin-top: 30px">
          <div class="card-header">
            <h4>Pengembalian barang</h4>
        </div>
        <div class="card-body">
          <div v-if="transaksi.length == 0" class="text-center">
            tidak ada data
          </div>
            <div class="card" style="border-radius: 10px; margin-top: 10px" v-for="item in transaksi">
                <div class="card-body row">
                  <div class="col-md-10">
                    <h6>
                    Kode transaksi: {{item.kode_transaksi}}
                    </h6>
                    </div>
                  <div class="col-md-2"><button class="btn btn-primary" style="border-radius: 10px" @click.prevent="kembali(item.id)">kembalikan</button></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </transition>
  </main>
</template>

<script>
export default {
    data() {
    return {
        data: {
          id: null,
          biaya_pengiriman_kembali: '13.000',
          pengiriman_kembali: '0',
          total_transaksi: null
        },
        showkem: false,
        transaksi: [],
        form: {}
    };
  },
  methods: {
    test(event){
      var app = this;
      if(event.target.value == '0'){
        app.data.pengiriman_kembali = '0';
      } else {
        app.data.pengiriman_kembali = '1';
      }
    },
    checkout(){
      var app = this;
      app.$http.post('auth/user/kembali/bayar', {data: app.data}).then((res) => {
        toastr.success('sukses mengirim data', 'sukses');
        app.index();
        this.showkem = false;
      }).catch((err) => {
        toastr.error('error')
      })
    },
      index(){
          var app = this;
          app.$http.get('auth/user/'+app.$auth.user().id+'/getkembali').then((res) => {
              app.transaksi = res.data.data;
          }).catch((err) => {
              toastr.error('error')
          });
      },
      kembali(id){
        var app = this;
        var index = app.transaksi.findIndex((cat) => cat.id == id);
        app.form = app.transaksi[index];
        app.data.id = app.transaksi[index].id;
        console.log(app.form)
        app.data.total_transaksi = String((parseInt(app.form.total_transaksi.replaceAll('.', ''))+ parseInt(app.data.biaya_pengiriman_kembali.replaceAll('.', '')))).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')
        app.showkem = true;
      }
  },
  mounted() {
    var app = this;
    app.index()
  },
}
</script>

<style scoped>
.title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.summary {
  background-color: rgb(16, 20, 78);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
</style>