<template>
  <div class="card mt-3">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><b>Keranjang</b></h4>
            </div>
            <div class="col align-self-center text-right text-muted">
              {{data.keranjang.length}} Barang
            </div>
          </div>
        </div>
        <!-- item -->
        <div v-if="data.keranjang.length == 0" class="text-center">
          tidak ada barang
        </div>
        <div class="row border-top border-bottom" v-for="item in data.keranjang">
          <div class="row main align-items-center">
            <div class="col-2">
              <img class="img-fluid" :src="item.produk.foto_dir" />
            </div>
            <div class="col">
              <div class="row text-muted">{{item.produk.kd_produk}}</div>
              <div class="row">{{item.produk.nm_produk}} <br> Rp. {{item.produk.harga}}</div>
            </div>
            <div class="col">
              <!-- <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> -->
            </div>
            <div class="col">
                
            <span class="close" @click.prevent="hapus(item.id)">&#10005;</span>
            </div>
          </div>
        </div>
        <!-- end item -->
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Keranjang</b></h5>
        </div>
        <hr />
        <div class="row">
          <div class="col" style="padding-left: 0">ITEMS {{data.keranjang.length}}</div>
          <div class="col text-right">Rp. {{String((data.jumlah)).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}}</div>
        </div>
        <form>
          <p>sewa berapa hari</p>
          <input type="number" placeholder="hari" class="text-center" v-model="data.hari" @input.prevent="hari()"/>
          <p>Pengiriman</p>
          <select v-model="data.jumlahpengiriman" @change="test($event)">
            <option class="text-muted" value="13000">COD Rp.13.000</option>
            <option class="text-muted" value="0">Ambil Sendiri Rp.0</option>
          </select>
          <p>Alamat</p>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="data.alamat"></textarea>
        </form>
        <div
          class="row"
          style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
        >
          <div class="col">TOTAL HARGA</div>
          <div class="col text-right">Rp. {{String(((parseInt(data.harifix) * data.jumlah) + parseInt(data.jumlahpengiriman))).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}}</div>
        </div>
        <button class="btn" style="border-radius: 10px" @click.prevent="checkout()">CHECKOUT</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
    return {
      data: {
        id: this.$auth.user().id,
        jumlahpengiriman: "13000",
        keranjang:{},
        hari: '1',
        harifix: '1',
        jumlah: null,
        jumlahfix: null,
        jumlah_produk: null,
        alamat: '',
        pengiriman: '0'
      },
    };
  },
  methods: {
    test(event){
      var app = this;
      if(event.target.value == '0'){
        app.data.pengiriman = '0';
      } else {
        app.data.pengiriman = '1';
      }
    },
    checkout(){
      var app = this;
      if(app.data.alamat == ''){
        toastr.error('alamat tidak boleh kosong', 'error');
      } else if(app.data.keranjang.length == 0){
        toastr.error('Barang tidak boleh kosong', 'error');
      } else {
      app.$http.post('auth/user/checkout', {data: app.data}).then((res) => {
        Swal.fire("Berhasi!", "Transaki ini telah ditambah.", "success");
        app.index();
      }).catch((error) => {
        toastr.error(error, 'gagal');
      });
    }
    },
    index() {
      var app = this;
      app.loading = true;
      app.$http
        .get("auth/user/"+app.$auth.user().id+"/getkeranjang")
        .then((res) => {
          app.data.keranjang = res.data;
        app.jumlah();
        })
        .catch((err) => console.log(err));
    },
    hari(){
      var app = this;
      app.data.hari <= 1? app.data.hari = 1: app.data.hari = app.data.hari;
      app.data.hari == ''? app.data.harifix = '0': app.data.harifix = app.data.hari;
      app.data.jumlahfix = String(((parseInt(app.data.harifix) * app.data.jumlah) + parseInt(app.data.jumlahpengiriman))).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      console.log(app.data.jumlahfix)
    },
    jumlah(){
    var seldata = [];
    var jumlah = 0;
    var app = this;
    // console.log(0<=app.data.keranjang.length)
    for(var a=0; a<app.data.keranjang.length; a++){
        var oioi = parseInt(app.data.keranjang[a].produk.harga.replace('.',''))
        // console.log(oioi)
        seldata.push(oioi);
    }
    for(var i = 0; i<seldata.length; i++){
        jumlah = jumlah + seldata[i];
    }
    app.data.jumlah = jumlah;    
    app.data.jumlah_produk = String(jumlah).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.');    
    app.data.jumlahfix = String(((parseInt(app.data.harifix) * app.data.jumlah) + parseInt(app.data.jumlahpengiriman))).replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    console.log(app.data.jumlahfix)
    },
    hapus(id){
        var app = this;
        app.$http.get('auth/user/'+id+'/deletekeranjang').then((res) => {
            Swal.fire("Berhasi!", 'sukses menghapus produk', "success");
        }).catch((err) => {
            toastr.error('sesuatu error terjadi', 'error');
        })
        app.index();
    },
  },
  mounted() {
      var app = this;
      app.index();
    console.log(app.$parent);
    if (app.$auth.user().level != "user") {
      app.$router.push({ name: "notfound" });
    }
  },
};
</script>

<style scoped>
.title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}

.summary {
  background-color: rgb(16, 20, 78);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
</style>