<template>
  <div class="container" style="margin-top: 25px">
    <transition name="fade">
      <div class="card">
        <div class="card-body">
          <div class="card" style="border: none">
            <div class="team-single">
              <div class="row">
                <div class="col-lg-4 col-md-5">
                  <div
                    class="m-auto"
                    style="
                      box-shadow: 10px 5px 14px 2px rgba(135, 135, 135, 0.75);
                      height: 320px;
                      width: 320px;
                    "
                  >
                    <div
                      v-if="!form.foto"
                      class="text-center"
                      style="font-weight: bold; line-height: 320px"
                    >
                      tidak ada foto
                    </div>
                    <img
                      v-if="form.foto || form.foto_dir"
                      width="320"
                      height="320"
                      style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      "
                      :src="form.foto"
                      alt=""
                    />
                  </div>
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      accept="image/jpeg, image/png"
                      @change="onImageChange"
                      ref="upload"
                      name="file-upload"
                    />
                    <i class="bx bx-pencil"></i>
                  </label>
                  <label
                    class="tutup"
                    @click.prevent="form.foto = null"
                    v-if="form.foto"
                  >
                    <i class="bx bx-x"></i>
                  </label>
                </div>

                <div class="col-lg-8 col-md-7">
                  <div
                    class="
                      team-single-text
                      padding-50px-left
                      sm-no-padding-left
                    "
                  >
                    <div class="contact-info-section margin-40px-tb">
                      <div class="row">
                        <div class="form-group col-md-6 col-lg-6 col-sm-12">
                          <label for="usr">Nama: </label>
                          <input
                            type="text"
                            class="form-control"
                            id="usr"
                            placeholder="Nama"
                            v-model="form.name"
                          />
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-sm-12">
                          <label for="eml">email:</label>
                          <input
                            type="text"
                            class="form-control"
                            id="eml"
                            placeholder="Email"
                            v-model="form.email"
                          />
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                          <button
                            type="button"
                            class="btn btn-success btn-md btn-block"
                            @click.prevent="Submit(form.id)"
                          >
                            ubah
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showce: false,
      showmain: true,
      type: "create",
      loading: true,
      form: {
          name: ''
      },
      data: {},
      loading: false,
    };
  },
  methods: {
    onImageChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      this.loading = true;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = (e) => {
        vm.form.foto = e.target.result;
      };
      reader.readAsDataURL(file);
      this.loading = false;
    },
    Submit(id) {
      var uri = "auth/user/edit/"+this.form.id;
      this.$http
        .post(uri, {
          data: this.form,
        })
        .then((res) => {
          Swal.fire("Berhasi!", 'sukses mengubah user', "success");
        })
        .catch((err) => {
          toastr.error("sesuatu Error Terjadi", "error");
        });
    },
  },
  mounted() {
    var app = this;
    //   console.log(app.$auth.user())
    app.form.email = app.$auth.user().email;
    app.form.foto = app.$auth.user().foto_dir;
    app.form.name = app.$auth.user().name;
    app.form.id = app.$auth.user().id;
    app.form.foto_dir = app.$auth.user().foto_dir;
  },
};
</script>

<style scoped>
.hm {
  position: absolute;
  width: 100px;
  right: 0;
  top: 0;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  color: white;
  border-radius: 50%;
  background-color: black;
  right: 0;
  top: -12px;
}

.tutup {
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  color: white;
  border-radius: 50%;
  background-color: black;
  left: 0;
  top: -12px;
}
</style>