<template>
  <div>
      <div class="float-btn">
        <i class="bx bx-menu" id="btn-float"></i>
    </div>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class="bx bx-store"></i>
          <div class="logo_name">SI-BADAT</div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav_list" v-if="$auth.user().level == 'admin'">
        <!-- <li>
          <a href="#">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search ..." />
          </a>
          <span class="tooltips">Search</span>
        </li> -->
        <li v-for="item in routes.admin">
          <router-link :to="{name: item.path}">
            <i :class="item.icon"></i>
            <span class="link_name">{{item.name}}</span>
          </router-link>
          <span class="tooltips">{{item.name}}</span>
        </li>
         <li>
          <a href="javascript:void(0);" @click.prevent="logout()">
            <i class='bx bx-log-out-circle'></i>
            <span class="link_name">Logout</span>
          </a>
          <span class="tooltips">Logout</span>
        </li>
      </ul>
      <ul class="nav_list" v-if="$auth.user().level == 'user'">
        <!-- <li>
          <a href="#">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search ..." />
          </a>
          <span class="tooltips">Search</span>
        </li> -->
        <li v-for="item in routes.user">
          <router-link :to="{name: item.path}">
            <i :class="item.icon"></i>
            <span class="link_name">{{item.name}}</span>
          </router-link>
          <span class="tooltips">{{item.name}}</span>
        </li>
         <li>
          <a href="javascript:void(0);" @click.prevent="logout()">
            <i class='bx bx-log-out-circle'></i>
            <span class="link_name">Logout</span>
          </a>
          <span class="tooltips">Logout</span>
        </li>
      </ul>
      <ul class="nav_list logout">
        <!-- <li>
          <a href="#">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search ..." />
          </a>
          <span class="tooltips">Search</span>
        </li> -->
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      routes: {
        // UNLOGGED
        unlogged: [
          { name: "Register", path: "register" },
          { name: "Login", path: "login" },
        ],
        // LOGGED USER
        user: [
          { name: "Dashboard", path: "user", icon: 'bx bxs-dashboard' },
          { name: "Keranjang", path: "user.keranjang", icon: 'bx bx-cart' },
          { name: "Pengembalian", path: "user.kembali", icon: 'bx bx-arrow-back' },
          { name: "Edit User", path: "user.edit", icon: 'bx bx-user' },
          ],
        // LOGGED ADMIN
        admin: [
          { name: "Dashboard", path: "admin", icon: 'bx bxs-dashboard' },
          { name: "Carousel", path: "admin.carousel", icon: 'bx bxs-dashboard' },
          { name: "Catalog", path: "admin.catalog", icon: 'bx bxs-tag-alt' },
          { name: "Produk", path: "admin.produk", icon: 'bx bxs-purchase-tag-alt' },
          { name: "Edit User", path: "user.edit", icon: 'bx bx-user' },
          ],
      },
    };
  },
  methods: {
       logout(){
         var app = this;
          Swal.fire({
          title: "Log Out?",
          text: "Apakah Kamu Yakin?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Iya Saya Yakin!",
        }).then((result) => {
          if (result.isConfirmed) {
           app.$auth.logout();
          }
        });
       }
  },
  mounted() {
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let float = document.querySelector("#btn-float");

    btn.onclick = function () {
      sidebar.classList.toggle("active");
    };
    float.onclick = function () {
      sidebar.classList.toggle("active");
      console.log('press')
    };
  },
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .active.router-link-active{
    color: #111;
    background: #fff;
  }
.sidebar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  height: 100%;
  width: 78px;
  /* overflow: hidden; */
  background: rgb(122, 106, 106);
  top: 0;
  left: 0;
  padding: 6px 14px;
  transition: 1s;
  z-index: 99999;
}
.sidebar.active {
  width: 260px;
  transition: all 1s ease;
  opacity: 1;
  overflow: hidden;
  z-index: 99999;
}
.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  transition: 1s;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  transition: all 1s ease;
}
.logo_content .logo i {
  font-size: 28px;
  margin-right: 6px;
}
.logo_content .logo .logo_name {
  font-size: 28px;
  margin-right: 6px;
  width: 76%;
  text-align: center;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-100%);
  transition: 1s;
}

.sidebar.active #btn {
  transform: translateX(-50%);
  transition: 1s;
}
.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 5px;
  list-style: none;
  border-radius: 12px;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  border: none;
  background: rgb(34, 32, 32);
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a .link_name {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.sidebar.active ul li a .link_name {
  visibility: visible;
  opacity: 1;
}

.sidebar ul li a:hover {
  color: #111;
  background: #fff;
}

.sidebar ul li i {
  height: 50px;
  top: 0;
  font-size: 18px;
  align-items: center;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  padding-left: 15px;
}

.sidebar ul li .tooltips {
  position: absolute;
  height: 35px;
  width: 122px;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  line-height: 35px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0s;
}

.sidebar ul li:hover .tooltips {
  transition: all 1s ease;
  top: 50%;
  opacity: 1;
  visibility: visible;
}

.sidebar.active ul li:hover .tooltips {
  opacity: 0;
  visibility: hidden;

}



  .float-btn{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgb(122, 106, 106);
    line-height: 50px;
    color: #fff;
    text-align: right;
    font-size: 18px;
    z-index: 9999;
    visibility: hidden;
  }

  .float-btn .bx{
    line-height: unset;
    margin-right : 30px;
  }

@media only screen and (max-width: 720px) {
  .sidebar.active {
    width: 100%;
    transition: all 1s ease;
  }
  
  .float-btn{
    visibility: visible;

  }

  .sidebar {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: fixed;
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    padding: 6px 14px;
    z-index: -1;
    overflow: hidden;
    opacity: 0;

  }
}
</style>