<template>
  <div class="container" style="margin-top: 25px">
    <transition name="fade">
      <div class="card" v-if="showce">
        <div class="card-body">
          <div class="card" style="border: none">
            <div class="team-single">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="m-auto" style="
                      box-shadow: 10px 5px 14px 2px rgba(135, 135, 135, 0.75);
                      height: 320px;
                      width: 320px;
                    ">
                    <div v-if="!form.foto" class="text-center" style="font-weight: bold; line-height: 320px">
                      tidak ada foto
                    </div>
                    <img v-if="form.foto || form.foto_dir" width="320" height="320" style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      " :src="form.foto" alt="" />
                  </div>
                  <label class="custom-file-upload">
                    <input type="file" accept="image/jpeg, image/png" @change="onImageChange" ref="upload"
                      name="file-upload" />
                    <i class="bx bx-pencil"></i>
                  </label>
                  <label class="tutup" @click.prevent="form.foto = null" v-if="form.foto">
                    <i class="bx bx-x"></i>
                  </label>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary btn-md mt-2 btn-block" style="border-radius: 20px;"
                  @click.prevent="Submit(form.id)">
                  simpan
                </button>
              </div>
              <div class="col-md-12">
                <button class="btn btn-danger btn-md mt-2 btn-block" style="border-radius: 20px;"
                  @click.prevent="showce = false;showmain = true;form = {foto: null};">
                  Batal
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div>
        <div class="card" style="height: 1000px" v-if="showmain">
          <div class="card-header">
            <button class="btn btn-primary btn-md mt-3 btn-block" style="border-radius: 20px; margin: 0 2%"
              @click.prevent="showce = true; showmain = false; type = 'create';">
              Tambah carousel
            </button>

          </div>
          <div class="card-body row">
            <div class="col-md-4 mt-3" v-for="item in data">
              <div class="d-flex justify-content-center align-items-center">
                <div class="card p-3" style="box-shadow: 10px 5px 14px 2px rgba(135, 135, 135, 0.75)">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="image">
                      <img :src="item.foto_dir" width="300" />
                    </div>
                  </div>
                  <div class="
                d-flex
                justify-content-between
                align-items-center
                mt-2
                mb-2
              ">
                  </div>
                  <div class="row" style="margin: 0 5px">
                    <button @click.prevent="
                          showce = true;
                          showmain = false;
                          type = 'update';
                          getdata(item.id);
                        " class="
                          btn btn-block btn-md btn-dark
                          col-12 col-sm-12 col-md-12 col-xl-12
                        " style="border-radius: 20px">
                      Edit
                    </button>
                    <button @click="hapus(item.id)" class="
                          btn btn-block btn-md
                          mt-1
                          btn-danger
                          col-12 col-sm-12 col-md-12 col-xl-12
                        " style="border-radius: 20px">
                      hapus
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        showce: false,
        showmain: true,
        type: 'create',
        loading: true,
        form: {
          foto: null,
        },
        data: {},
        loading: false,
      };
    },
    methods: {
      onImageChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        this.loading = true;
        if (!files.length) return;
        this.createImage(files[0]);
      },
      createImage(file) {
        let reader = new FileReader();
        let vm = this;
        reader.onload = (e) => {
          vm.form.foto = e.target.result;
        };
        reader.readAsDataURL(file);
        this.loading = false;
      },
      Submit(id) {
        if (this.type == 'create') {
          var uri = "auth/admin/carousel/create";
          var pesan = "Berhasil Menambah carousel";
        } else {
          var uri = "auth/admin/carousel/" + id + "/edit";
          var pesan = "Berhasil Mengedit carousel";
        }
        this.$http
          .post(uri, {
            data: this.form,
          })
          .then((res) => {
            Swal.fire("Berhasi!", pesan, "success");
            this.showce = false;
            this.showmain = true;
            this.form = { foto: null };
          })
          .catch((err) => {
            toastr.error("sesuatu Error Terjadi", "error");
          });
        this.index();
      },
      hapus(id) {
        Swal.fire({
          title: "Apakah Kamu Yakin?",
          text: "Kamu tidak Bisa mengembalikannya lagi!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Iya Hapus ini!",
        }).then((result) => {
          if (result.isConfirmed) {
            this.$http
              .get("auth/admin/carousel/" + id + "/delete")
              .then((res) => {
                Swal.fire("Terhapus!", "carousel ini telah dihapus.", "success");
              })
              .catch((err) => {
                Swal.fire("Terhapus!", "carousel ini gagal dihapus.", "error");
              });
            this.index();
          }
        });
      },
      getdata(id) {
        var app = this;
        app.$http
          .get("auth/admin/carousel/" + id + "/getdata")
          .then((res) => {
            app.form = res.data.data;
            app.form.foto = res.data.data.foto_dir;
          })
          .catch((err) => {
            toastr.error("sesuatu Error Terjadi", "error");
          });
      },
      index() {
        var app = this;
        app.loading = true;
        app.$http
          .get("auth/admin/carousel/index")
          .then((res) => {
            app.data = res.data;
            app.loading = false;
          })
          .catch((err) => console.log(err));
      },
    },
    mounted() {
      var app = this;
      this.index();
      if (app.$auth.user().level != "admin") {
        app.$router.push({ name: "notfound" });
      }
    },
  };
</script>

<style scoped>
  .hm {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 50%;
    background-color: black;
    right: 0;
    top: -12px;
  }

  .tutup {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 50%;
    background-color: black;
    left: 0;
    top: -12px;
  }
</style>