<template>
  <main>
    <div class="container">
        <transition name="fade">
      <div class="card" v-if="showce">
          <div class="card-header">
                {{type == 'create'? 'tambah catalog' : 'ubah catalog'}}
            </div>
        <div class="card-body">
          <div class="card" style="border: none">
            <div class="team-single">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="
                      team-single-text
                      padding-50px-left
                      sm-no-padding-left
                    ">
                    <div class="contact-info-section margin-40px-tb">
                      <div class="row">
                        <div class="form-group col-md-12 col-lg-12 col-sm-12">
                          <label for="eml">Nama catalog :</label>
                          <input type="text" class="form-control"
                            id="eml" placeholder="Nama catalog" v-model="form.nama" />
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                          <button type="button" class="btn btn-success btn-md btn-block"
                            @click.prevent="Submit()">
                            {{type == 'create'? 'tambah' : 'ubah'}}
                          </button>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                          <button type="button" class="btn btn-danger btn-md btn-block" @click.prevent="
                              showce = false;
                              showmain = true;
                              form = {foto: null};
                            ">
                            batal
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div class="card" v-if="!showce">
        <div class="card-header">
            <button class="btn btn-primary btn-md" @click.prevent="showce = true; form = {}; type = 'create'"> Tambah</button>
        </div>
        <div class="card-body">
          <div class="card">
            <table class="table" id="tableIndex">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" v-for="row in column.row">{{ row }}</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-if="column.data.length == 0 ">
                      <td :colspan="column.row.length" class="text-center">Tidak ada data</td>
                  </tr>
                <tr v-if="column.data.length != 0" v-for="row in column.data">
                  <td>{{ row.nama }}</td>
                  <td v-html="row.action"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </transition>
    </div>
  </main>
</template>
<style>
.oioi {
  padding-top: 100px;
}
</style>
<style scoped>
.font-size38 {
  font-size: 38px;
}
.team-single-text .section-heading h4,
.section-heading h5 {
  font-size: 36px;
}

.team-single-text .section-heading.half {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .team-single-text .section-heading h4,
  .section-heading h5 {
    font-size: 32px;
  }
  .team-single-text .section-heading.half {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) {
  .team-single-text .section-heading h4,
  .section-heading h5 {
    font-size: 28px;
  }
  .team-single-text .section-heading.half {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .team-single-text .section-heading h4,
  .section-heading h5 {
    font-size: 24px;
  }
}

.team-single-icons ul li {
  display: inline-block;
  border: 1px solid #02c2c7;
  border-radius: 50%;
  color: #86bc42;
  margin-right: 8px;
  margin-bottom: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.team-single-icons ul li a {
  color: #02c2c7;
  display: block;
  font-size: 14px;
  height: 25px;
  line-height: 26px;
  text-align: center;
  width: 25px;
}

.team-single-icons ul li:hover {
  background: #02c2c7;
  border-color: #02c2c7;
}

.team-single-icons ul li:hover a {
  color: #fff;
}

.team-social-icon li {
  display: inline-block;
  margin-right: 5px;
}

.team-social-icon li:last-child {
  margin-right: 0;
}

.team-social-icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50px;
}

.padding-30px-all {
  padding: 30px;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.text-center {
  text-align: center !important;
}
img {
  max-width: 100%;
  height: auto;
}

.list-style9 {
  list-style: none;
  padding: 0;
}

.list-style9 li {
  position: relative;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.list-style9 li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-sky {
  color: #02c2c7;
}

.text-orange {
  color: #e95601;
}

.text-green {
  color: #5bbd2a;
}

.text-yellow {
  color: #f0d001;
}

.text-pink {
  color: #ff48a4;
}

.text-purple {
  color: #9d60ff;
}

.text-lightred {
  color: #ff5722;
}

a.text-sky:hover {
  opacity: 0.8;
  color: #02c2c7;
}

a.text-orange:hover {
  opacity: 0.8;
  color: #e95601;
}

a.text-green:hover {
  opacity: 0.8;
  color: #5bbd2a;
}

a.text-yellow:hover {
  opacity: 0.8;
  color: #f0d001;
}

a.text-pink:hover {
  opacity: 0.8;
  color: #ff48a4;
}

a.text-purple:hover {
  opacity: 0.8;
  color: #9d60ff;
}

a.text-lightred:hover {
  opacity: 0.8;
  color: #ff5722;
}

.custom-progress {
  height: 10px;
  border-radius: 50px;
  box-shadow: none;
  margin-bottom: 25px;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.bg-sky {
  background-color: #02c2c7;
}

.bg-orange {
  background-color: #e95601;
}

.bg-green {
  background-color: #5bbd2a;
}

.bg-yellow {
  background-color: #f0d001;
}

.bg-pink {
  background-color: #ff48a4;
}

.bg-purple {
  background-color: #9d60ff;
}

.bg-lightred {
  background-color: #ff5722;
}
</style>
<script>
export default {
  data() {
    return {
      showdetail: false,
      type: 'create',
      showce: false,
      showedit: false,
      loading: true,
      form: {},
      column: {
        row: ["nama Catalog", "aksi"],
        data: {},
      },
    };
  },
  methods: {
    loadTable() {
      var app = this;
      $("#tableIndex").on("click", ".edit", function (e) {
        var id = $(this).data("id");
        app.type = 'update';
        app.getdata(id);
        app.showce = true;
      });
      $("#tableIndex").on("click", ".delete", function (e) {
        var id = $(this).data("id");
        Swal.fire({
          title: "Apakah Kamu Yakin?",
          text: "Kamu tidak Bisa mengembalikannya lagi!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Iya Hapus ini!",
        }).then((result) => {
          if (result.isConfirmed) {
            app.delete(id);
          }
        });
      });
    },
    // Submitedit(id){
    //   this.$http.post("auth/admin/" + id + "/edit", {
    //     data: this.form
    //   }).then((res) => {
    //     Swal.fire("Berhasi!", "User ini Telah diupdate.", "success");
    //   }).catch((err) => {
    //     toastr.error("sesuatu Error Terjadi", "error")
    // })
    // },
    Submit(){
        var app = this;
        var url = "auth/admin/catalog/create";
        if(app.type != 'create'){
            url = "auth/admin/catalog/"+ app.form.id +"/edit";
        }
        console.log(url)
        app.$http.post(
            url, {data: app.form
        }).then((res) => {
            toastr.success('berhasil '+app.type+' data', 'suskes');
            this.showce = false;
            app.index();
        }).catch((err) => {
            toastr.error('sesuatu error terjadi', 'error');
        })
    },
    delete(id) {
      this.$http
        .get("auth/admin/catalog/" + id + "/delete")
        .then((res) => {
          Swal.fire("Terhapus!", "User ini telah dihapus.", "success");
        })
        .catch((err) => {
          Swal.fire("Terhapus!", "User ini gagal dihapus.", "error");
        });
      this.index();
    },
    getdata(id) {
      var app = this;
      app.$http
        .get("auth/admin/catalog/" + id + "/getdata")
        .then((res) => {
          app.form = res.data.data;
        })
        .catch((err) => {
          toastr.error("sesuatu Error Terjadi", "error");
        });
    },
    index() {
      var app = this;
      app.loading = true;
      app.$http
        .post("auth/admin/catalog/index", {
          per: 10,
        })
        .then((res) => {
          app.column.data = res.data;
          app.loading = false;
            app.loadTable();
        })
        .catch((err) => console.log(err));
        app.loadTable();
        
    },
  },
  mounted() {
    this.index();
    var app = this;
    this.loadTable();
        if (app.$auth.user().level != "admin") {
      app.$router.push({ name: "notfound" });
    }
  },
};
</script>