<template>
  <div class="container" style="margin-top: 25px">
    <transition name="fade">
      <div class="card" v-if="showce">
        <div class="card-body">
          <div class="card" style="border: none">
            <div class="team-single">
              <div class="row">
                <div class="col-lg-4 col-md-5">
                  <div class="m-auto" style="
                      box-shadow: 10px 5px 14px 2px rgba(135, 135, 135, 0.75);
                      height: 320px;
                      width: 320px;
                    ">
                    <div v-if="!form.foto" class="text-center" style="font-weight: bold; line-height: 320px">
                      tidak ada foto
                    </div>
                    <img v-if="form.foto" width="320" height="320" style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      " :src="form.foto" alt="" />
                  </div>
                  <label class="custom-file-upload">
                    <input type="file" accept="image/jpeg, image/png" @change="onImageChange" ref="upload"
                      name="file-upload" />
                    <i class="bx bx-pencil"></i>
                  </label>
                  <label class="tutup" @click.prevent="form.foto = null" v-if="form.foto">
                    <i class="bx bx-x"></i>
                  </label>
                </div>

                <div class="col-lg-8 col-md-7">
                  <div class="
                      team-single-text
                      padding-50px-left
                      sm-no-padding-left
                    ">
                    <div class="contact-info-section margin-40px-tb">
                      <div class="row">
                        <div class="form-group col-md-12 col-lg-12 col-sm-12">
                          <label for="usr">Kode Produk:</label>
                          <input disabled type="text codes"
                            style="text-align: center;font-style: italic;font-weight: bold;" class="form-control"
                            id="usr" disabled placeholder="* / kode digenerate oleh system / * "
                            v-model="form.kd_produk" />
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-sm-12">
                          <label for="usr">Nama Produk:</label>
                          <input type="text" class="form-control" id="usr" placeholder="Nama" @input.prevent="kd"
                            v-model="form.nm_produk" />
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-sm-12">
                          <label for="eml">stok:</label>
                          <input type="text" oninput="this.value = this.value.replace(/\D/g, '')" class="form-control"
                            id="eml" placeholder="stok" v-model="form.stok" />
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-sm-6">
                          <label for="eml">Harga:</label>
                          <input type="text" oninput="this.value = this.value.replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, '.')" class="form-control"
                            id="eml" placeholder="Harga" v-model="form.harga" />
                        </div>
                        <div class="form-group col-md-6 col-lg-6 col-sm-6">
                          <label for="eml">Catalog:</label>
                          <select class="js-example-basic-single select2 form-control" name="state" v-model="form.catalog_id">
                            <option v-for="item in catalog" :value="item.id">{{item.nama}}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-sm-12">
                          <label for="sel1">deskripsi:</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            v-model="form.deskripsi"></textarea>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                          <button type="button" class="btn btn-success btn-md btn-block"
                            @click.prevent="Submit(form.id)">
                            {{type == 'create'? 'tambah' : 'ubah'}}
                          </button>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-6">
                          <button type="button" class="btn btn-danger btn-md btn-block" @click.prevent="
                              showce = false;
                              showmain = true;
                              form = {foto: null};
                            ">
                            batal
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div>
      <div class="card" style="height: 1000px" v-if="showmain">
        <div class="card-header">
<button class="btn btn-primary btn-md mt-3 btn-block" style="border-radius: 20px; margin: 0 2%"
          @click.prevent="showce = true; showmain = false; type = 'create'; getcode(); select2()">
          Tambah Produk
        </button>

        </div>
        <div class="card-body row">
        <div class="col-md-4 mt-3" v-for="item in data">
          <div class="d-flex justify-content-center align-items-center">
            <div class="card p-3" style="box-shadow: 10px 5px 14px 2px rgba(135, 135, 135, 0.75)">
              <div class="d-flex justify-content-between align-items-center">
                <div class="mt-2">
                  <div class="mt-5">
                    <h3 class="text-uppercase mb-0">{{item.kd_produk}}</h3>
                    <h6 class="main-heading mt-0">{{item.nm_produk}}</h6>
                  </div>
                  
                </div>
                <div class="image">
                  <img :src="item.foto_dir" width="200" height="200" />
                </div>
              </div>
              <div class="
                d-flex
                justify-content-between
                align-items-center
                mt-2
                mb-2
              ">
              </div>
              <p>{{item.deskripsi}}</p>
              <div class="row" style="margin: 0 5px">
                <button 
                @click.prevent="showce = true; showmain = false; type = 'update'; getdata(item.id);"
                class="
                  btn btn-block btn-md btn-dark
                  col-12 col-sm-12 col-md-12 col-xl-12
                " style="border-radius: 20px">
                  Edit
                </button>
                <button
                @click="hapus(item.id)"
                class="
                  btn btn-block btn-md
                  mt-1
                  btn-danger
                  col-12 col-sm-12 col-md-12 col-xl-12
                " style="border-radius: 20px">
                  hapus
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        showce: false,
        showmain: true,
        catalog: [],
        type: 'create',
        code: '',
        loading: true,
        kd_produk: '',
        form: {
          foto: null,
        },
        data: {},
        loading: false,
      };
    },
    methods: {
      onImageChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        this.loading = true;
        if (!files.length) return;
        this.createImage(files[0]);
      },
      createImage(file) {
        let reader = new FileReader();
        let vm = this;
        reader.onload = (e) => {
          vm.form.foto = e.target.result;
        };
        reader.readAsDataURL(file);
        this.loading = false;
      },
      Submit(id) {
        if (this.type == 'create') {
          var uri = "auth/admin/produk/create";
          var pesan = "Berhasil Menambah Produk";
        } else {
          var uri = "auth/admin/produk/" + id + "/edit";
          var pesan = "Berhasil Mengedit Produk";
        }
        this.$http
          .post(uri, {
            data: this.form,
          })
          .then((res) => {
            Swal.fire("Berhasi!", pesan, "success");
            this.showce = false;
            this.showmain = true;
            this.form = {foto: null};
          })
          .catch((err) => {
            toastr.error("sesuatu Error Terjadi", "error");
          });
            this.index();
      },
      getCatalog(){
        var app = this;
        app.$http.get('auth/admin/produk/getCatalog').then((res) => {
          app.catalog = res.data.data;
        }).catch((err) => {
          toastr.error(err.response.data.message, 'error');
        })
      },
      select2(){
        var app = this;
        setTimeout(() => {
          $('.js-example-basic-single').select2({
            placeholder: "Pilih catalog",
            allowClear: true
          });
          $('.js-example-basic-single').on("change", function(e) { 
            app.form.catalog_id =  $('.js-example-basic-single').val();
          });
        }, 100);
      },
      hapus(id) {
        Swal.fire({
          title: "Apakah Kamu Yakin?",
          text: "Kamu tidak Bisa mengembalikannya lagi!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Iya Hapus ini!",
        }).then((result) => {
          if (result.isConfirmed) {
            this.$http
              .get("auth/admin/produk/" + id + "/delete")
              .then((res) => {
                Swal.fire("Terhapus!", "Produk ini telah dihapus.", "success");
              })
              .catch((err) => {
                Swal.fire("Terhapus!", "Produk ini gagal dihapus.", "error");
              });
            this.index();
          }
        });
      },
      getdata(id) {
        var app = this;
        app.$http
          .get("auth/admin/produk/" + id + "/getdata")
          .then((res) => {
            app.form = res.data.data;
            app.form.foto = res.data.data.foto_dir;
          })
          .catch((err) => {
            toastr.error("sesuatu Error Terjadi", "error");
          });
      },
      getcode() {
        this.$http.get('auth/admin/produk/getcode').then((res) => {
          this.code = res.data;
        }).catch((err) => {
          console.log(err)
        })
      },
      kd: _.debounce(function () {
        var vm = this;
        var myString = this.form.nm_produk;
        var splits = myString.split(' ');
        var codes = "";
        for (var i = 0; i < splits.length; i++) {
          if (splits[i][0]) {
            codes = codes + splits[i][0];
          }
        }
        if (this.type == 'create') {
          if (codes != '') {
            vm.kd_produk = codes.replace(/[^A-Za-z]/g, '').toUpperCase() + '-' + vm.code;
            vm.form.kd_produk = vm.kd_produk;
            $(".codes").val(vm.kd_produk);
          } else {
            vm.kd_produk = "";
            vm.form.kd_produk = vm.kd_produk;
            $(".codes").val(vm.kd_produk);
          }
        } else {
          if (codes != '') {
            vm.code = vm.form.id
            vm.kd_produk = codes.replace(/[^A-Za-z]/g, '').toUpperCase() + '-' + vm.code;
            vm.form.kd_produk = vm.kd_produk;
            $(".codes").val(vm.kd_produk);
          }
          else {
            vm.kd_produk = "";
            vm.form.kd_produk = vm.kd_produk;
            $(".codes").val(vm.kd_produk);
          }
        }

      }, 1000),
      index() {
        var app = this;
        app.loading = true;
        app.$http
          .get("auth/admin/produk/index")
          .then((res) => {
            app.data = res.data;
            app.loading = false;
          })
          .catch((err) => console.log(err));
      },
    },
    mounted() {
      var app = this;
      app.getCatalog();
      app.index();
          if (app.$auth.user().level != "admin") {
      app.$router.push({ name: "notfound" });
    }
    },
  };
</script>

<style scoped>
  .hm {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 50%;
    background-color: black;
    right: 0;
    top: -12px;
  }

  .tutup {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: white;
    border-radius: 50%;
    background-color: black;
    left: 0;
    top: -12px;
  }
</style>